{
    "name": "${name}",
    "server": "${server}",
    "eks-name": "${eks_name}",
    "account-id": "${account_id}",
    "vpc-id": "${vpc_id}",
    "region": "${region}",
    "kubePrometheusStackVersion": "v79.6.1",
    "lokiVersion": "6.46.0",
    "externalDnsVersion": "1.19.0",
    "matchRevision": "main",
    "secretStoreRoleArn": "${secret_store_role_arn}",
    "redisSecretName": "${redis_secret_name}",
    "rdsPgSecretName": "${rds_pg_secret_name}",
    "grafanaIngress": true,
    "smtpSecretName": "${smtp_secret_name}",
    "orgName": "${organisation_name}",
    "defaultStorageClass": "auto-ebs-gp2",
    "apiSecretName" : "${api_secret_name}",
    "userSecretName" : "${user_secret_name}",
    "owningUserEmail": "${owning_user_email}"
}
